body {
	background-color: #CCAAFF;
	margin: 20px;
}

.movie-title {
}

.movie-art {
	float: left;
	padding-right: 5px;
}

.movie-description {
	padding: 4px;
}

.box {
	display: block;
	margin: 5px;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #888888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 3px #aaaaaa;
	-moz-box-shadow: 2px 2px 3px #aaaaaa;
	box-shadow: 2px 2px 3px #aaaaaa;
	background-color: #F2F2F2;
	position: relative;
}


.box-left {
	float: left;
	width: 45%;
	margin-left: 40px;
}

.box-right {
	float: left;
	width: 45%;
}

.vote-btn {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.movie-list-item .movie-art {
	height: 105px;
	width: 80px;
}

.movie-list-item {
	clear: both;
	float: left;
	width: 80%;
	clear: both;
	border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 3px #aaaaaa;
    display: block;
    line-height: 20px;
    padding: 4px;
    margin: 10px;
    background-color: #F2F2F2;
}

.current-step {
	color: red;
	font-weight: bold;
}

.result-chart {
	width: 80%;
	height: 400px;
	margin-left: 30px;
	
}
