<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >

<hibernate-configuration  >
	<session-factory>
	 	<!-- Avoid repeated rows in the outer joins 
		<property name="hibernate.max_fetch_depth">0</property>
	 	-->
		<!-- Database connection settings -->
		<!-- 
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/VideoDB</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		 -->
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:video</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.useUnicode">true</property>
        <!-- 
		<property name="hibernate.connection.characterEncoding">ISO-8859-1</property> 
		<property name="hibernate.connection.charSet">ISO-8859-1</property>
         --> 


		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">false</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="com.github.dsaran.video.model.Movie" />
		<mapping class="com.github.dsaran.video.model.Vote" />
		<mapping class="com.github.dsaran.video.model.User" />

	</session-factory>

</hibernate-configuration>
